* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: azure;
    height: 40vh;
}

/* Style container divs */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    width: 35vw;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
}

/* Heading */
h1,
h2,
h3 {
    text-align: center;
    color: black;
    bottom: 40px;
    margin-bottom: 25px;
}

/* Input styling */
input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 10px black;
}
/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background: rgb(128, 14, 14);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: brown;
}

/* Employee list styling */
.employee-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #fcd4e9;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border-radius: 5px;
    border-left: 4px solid #fb00ff;
}